* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px black;
  box-shadow: 5px 5px 5px 3px black;
  text-align: center;
}

.card button {
  margin: 10px;
  outline: none;
  border: none;
  background-color: pink;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px black;
  cursor: pointer;
}
